<footer class="page-footer font-small blue  padding-footer">
  <div class="text-md-left standard-padding">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase family-heading">Subscribe to our newsletter</h5>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <div class="row">
            <div class="col-md-8 col-xs-6 col-sm-6">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Subscribe</button>
            </div>
          </div>
        </div>
        <div>Donaki is Luisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
          numquam eius modi tempora uptatem.</div>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase family-heading">Follow Us</h5>
        <div class="follow-icon">
          <fa-icon style="margin-right: 10px;" [icon]="state.icon.faPhone"></fa-icon>
          <fa-icon style="margin-right: 10px;" [icon]="state.icon.faBlog"></fa-icon>
          <fa-icon style="margin-right: 10px;" [icon]="state.icon.faComment"></fa-icon>
          <fa-icon style="margin-right: 10px;" [icon]="state.icon.faAddressBook"></fa-icon>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase family-heading contact">Contact us</h5>
        <div class="row">
          <div class="col-md-1">
            <fa-icon [icon]="state.icon.faMarker"></fa-icon>
          </div>
          <div class="col-md-11">
            Rue de la Loi/Wetstraat 175
            <br>B-1048 Bruxelles/Brussel
            <br>Belgique/België
          </div>
        </div>
        <div class="row phone">
          <div class="col-md-1">
            <fa-icon [icon]="state.icon.faPhone"></fa-icon>
          </div>
          <div class="col-md-11">
            Tel: +32 22252522
            <br>Fax: +32 22816934
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
