<div class="slide standard-padding padding-top-20">
  <div class="row">
    <div class="col-md-6">
      <div class="title family-heading">
        {{ state.slide.title }}
      </div>
      <div class="desc">
        {{ state.slide.description }}
      </div>
      <div>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">{{ state.slide.buttonTitle }}</button>
      </div>
    </div>
  </div>
</div>

<div class="headline">
  <div class="row standard-padding">
    <div class="col-md-6 text-white full-height content-left">
      <div class="content-body bg-secondary">
        <div class="title family-heading">
          {{ state.partner.title }}
        </div>
        <div class="desc">
          {{ state.partner.description }}
        </div>
        <div>
          <button class="btn btn-outline-white my-2 my-sm-0" type="submit">{{ state.partner.buttonTitle }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-white full-height content-right member">
        <div class="content-body bg-primary">
          <div class="title family-heading">
            {{ state.partner.title }}
          </div>
          <div class="desc">
            {{ state.partner.description }}
          </div>
          <div>
            <button class="btn btn-outline-white my-2 my-sm-0" type="submit">{{ state.partner.buttonTitle }}</button>
          </div>
        </div>
      </div>
  </div>
</div>
